<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/memberForm/sell/index.css">


    <title>sell-index</title>
</head>

<body>


    <!-- ====================     헤더입니다     ==================== -->
    <header>

        <section class="header-wrap">
            <div>
                <nav class="menu-bar">
                    <input class="burger-check" type="checkbox" id="burger-check" />
                    <label class="burger-icon" for="burger-check">
                        <span class="burger-sticks"></span>
                    </label>

                    <div class="menu-bar-category">
                        <div class="category-login">
                            <a href="">로그인/회원가입</a>
                        </div>

                        <ul class="my-list">
                            <li>내 상점</li>
                            <li>굿즈 판매하기</li>
                            <li>마이 페이지</li>
                            <li>마이 알림</li>
                            <li>마이 설정</li>
                        </ul>

                        <div class="middle-line"><span>카테고리</span></div>

                        <div class="category-goods-wrap">
                            <div class="category-goods">
                                <input type="checkbox" name="" id="category-checkbox"><label for="category-checkbox">공식
                                    굿즈</label>
                            </div>
                            <div class="category-goods">
                                <input type="checkbox" name="" id="category-checkbox"><label for="category-checkbox">비공식
                                    굿즈</label>
                            </div>
                            <div class="category-goods">
                                <input type="checkbox" name="" id="category-checkbox"><label for="category-checkbox">대리
                                    티켓팅</label>
                            </div>
                        </div>

                        <ul class="menu-extra">
                            <li>헬프센터</li>
                            <li>1:1문의하기</li>
                            <li>다크모드</li>
                        </ul>

                    </div>
                </nav>

                <img class="logo" src="/image/logo.png" alt="로고" />
            </div>

            <div class="half-middle-category">
                <a href="">공식 굿즈</a>
                <a href="">비공식 굿즈</a>
                <a href="">대리 티켓팅</a>
                <a href="">헬프센터</a>
                <a href="">1:1 문의하기</a>
            </div>

            <div class="header-icon">
                <img src="/image/icon/search.svg" alt="검색">
                <img src="/image/icon/bell.svg" alt="알람">
                <img src="/image/icon/icon-message.svg" alt="채팅">
            </div>
        </section>

    </header>



    <!-- ====================     메인입니다     ==================== -->
    <main class="main">





        <section class="wizard-header">
            <h1 class="d-none">위자드 인덱스</h1>
            <span class="line"></span>
            <span class="wizard first">1</span>
            <span class="wizard">2</span>
            <span class="wizard">3</span>
            <span class="wizard">4</span>
        </section>


        <section class="main-wrap">
            <h1 class="d-none">상품 등록 form</h1>


            <!-- ==================================================     폼시작   ================================================== -->
            <form class="reg-form" method="post" enctype="multipart/form-data">

                <!-- ==========     1번 페이지    ========== -->
                <section id="one" class="reg">
                    <h1 class="d-none">상품 정보 form</h1>
                    <div class="reg1">

                        <div class="title">상품 정보를 입력해주세요</div>

                        <div>
                            <div class="padding-0"><label for="img">상품 이미지</label></div>
                            <input class="img-input" id="img" name="file" type="file"><label for="img"><img
                                    src="/image/빈-상품이미지.png" alt=""></label>
                        </div>

                        <div>
                            <label class="input-title" for="title">상품 제목</label>
                            <input value="" class="input-default" id="title" name="name" type="text" required
                                placeholder="제목을 입력해 주세요.">
                        </div>

                        <div class="price-container">
                            <label class="input-title" for="price">상품 가격</label>
                            <input value="" class="input-default inline" id="price" name="price" type="number" required
                                placeholder="가격을 입력해 주세요."><span class="input-detail">원</span>
                        </div>

                        <div class="btn-container">
                            <div class="btn btn-cancel">취소</div>
                            <div id="first-click" class="btn btn-default" href="">다음</div>
                        </div>


                    </div>
                </section>








                <!-- ==========     2번 페이지    ========== -->
                <section id="two" class="d-none reg">
                    <h1 class="d-none">상품 설명 form</h1>
                    <div class="reg2">


                        <div class="title">상품 설명을 입력해주세요</div>


                        <div>
                            <label for="category" class="input-title">카테고리🖕🖕수정필요🖕🖕</label>
                            <select class="category-select" id="category" required>
                                <option value="" disabled selected>1차분류</option>
                                <option value="supercategory-공식굿즈">공식굿즈</option>
                                <option value="supercategory-비공식굿즈">비공식굿즈</option>
                                <option value="supercategory-대리티켓팅">대리티켓팅</option>
                            </select>

                            <select class="category-select" id="subcategory" required>
                                <option value="" disabled selected>2차분류</option>
                                <option value="subcategory-포토카드">포토카드</option>
                                <option value="subcategory-음반/영상물">음반/영상물</option>
                                <option value="subcategory-응원도구">응원도구</option>
                                <option value="subcategory-포스터/포토북">포스터/포토북</option>
                                <option value="subcategory-문구류">문구류</option>
                                <option value="subcategory-기타잡화">기타잡화</option>
                            </select>

                        </div>


                        <div>
                            <label for="description" class="input-title">상품설명</label>
                            <textarea class="input-default input-description" id="description" name="description"
                                type="text" required placeholder="설명을 입력해 주세요."></textarea>
                        </div>


                        <div class="btn-container">
                            <div class="btn btn-cancel">취소</div>
                            <div id="second-click" class="btn btn-default" href="">다음</div>
                        </div>


                    </div>
                </section>





                <!-- ==========     3번 페이지    ========== -->
                <section id="third" class="d-none reg">
                    <h1 class="d-none">컨디션&태그 form</h1>
                    <div class="reg3">


                        <div class="title">컨디션과 태그를 입력해주세요</div>


                        <div class="reg3-condition-container">
                            <div class="input-title">상품 컨디션</div>

                            <input value="tag-미개봉" id="tag-미개봉" name="condition" type="radio" required>
                            <label class="btn reg-btn" for="tag-미개봉">미개봉</label>

                            <input value="tag-거의새상품" id="tag-거의새상품" name="condition" type="radio" required>
                            <label class="btn reg-btn" for="tag-거의새상품">거의새상품</label>

                            <input value="tag-사용감있는깨끗한상품" id="tag-사용감있는깨끗한상품"  name="condition" type="radio" required>
                            <label class="btn reg-btn" for="tag-사용감있는깨끗한상품">사용감 있는 깨끗한 상품</label>

                            <input value="tag-사용흔적이있는상품" id="tag-사용흔적이있는상품" name="condition" type="radio" required>
                            <label class="btn reg-btn" for="tag-사용흔적이있는상품">사용 흔적이 있는 상품</label>

                            <input vlaue="tag-하자가있는상품" id="tag-하자가있는상품" name="condition" type="radio" required>
                            <label class="btn reg-btn" for="tag-하자가있는상품">하자가 있는 상품</label>

                        </div>


                        <div>
                            <label for="tag" class="input-title">상품 태그🖕아직 하나만..🖕</label>
                            <input value="" class="input-default" id="tag" name="tag" type="text" required
                                placeholder="태그를 입력해 주세요.">
                            <div class="btn btn-default">추가</div>
                        </div>



                        <div class="btn-container">
                            <div class="btn btn-cancel" >취소</div>
                            <div id="third-click" class="btn btn-default" href="">다음</div>
                        </div>


                    </div>
                </section>





                <!-- ==========     4번 페이지    ========== -->
                <section id="four" class="d-none reg">
                    <h1 class="d-none">배송 방법 form</h1>
                    <div class="reg4">


                        <div class="title">상품 배송 방법을 선택해주세요.</div>


                        <div>
                            <div>
                                <input value="delivery-일반우편" class="" id="delivery-일반우편" name="delivery" type="radio" required>
                                <label for="delivery-일반우편" class="delivery-label general-mail"><span>일반우편</span></label>
                            </div>

                            <div>
                                <input  value="delivery-준등기" class="" id="delivery-준등기" name="delivery" type="radio" required>
                                <label for="delivery-준등기" class="delivery-label semi-post"><span>준등기</span></label>
                            </div>

                            <div>
                                <input  value="delivery-택배" class="" id="delivery-택배" name="delivery" type="radio" required>
                                <label for="delivery-택배" class="delivery-label parcel"><span>택배</span></label>
                            </div>

                        </div>



                        <div class="btn-container">
                            <div class="btn btn-cancel">취소</div>
                            <button class="btn btn-default sell-btn" > 등록</button>
                        </div>

                        <!-- ==================================================     폼 끝   ================================================== -->

                    </div>
                </section>


            </form>


        </section>



    </main>




    <!-- ====================     풋터입니다     ==================== -->
    <footer>

    </footer>



</body>

<script>
    let firstClick = document.querySelector("#first-click");
    let secondClick = document.querySelector("#second-click");
    let thirdClick = document.querySelector("#third-click");
    let wizard = document.getElementsByClassName("wizard");
    let cancelbtn = document.getElementsByClassName("btn-cancel");
    

    firstClick.addEventListener("click", function() {
        document.querySelector("#one").classList.add("d-none");
        document.querySelector("#two").classList.remove("d-none");
        wizard[0].classList.remove("first");
        wizard[1].classList.add("second");
    });
    secondClick.addEventListener("click", function() {
        document.querySelector("#two").classList.add("d-none");
        document.querySelector("#third").classList.remove("d-none");
        wizard[1].classList.remove("second");
        wizard[2].classList.add("third");
    });
    thirdClick.addEventListener("click", function() {
        document.querySelector("#third").classList.add("d-none");
        document.querySelector("#four").classList.remove("d-none");
        wizard[2].classList.remove("third");
        wizard[3].classList.add("fourth");
    });

    cancelbtn[1].addEventListener("click", function() {
        document.querySelector("#one").classList.toggle("d-none");
        document.querySelector("#two").classList.add("d-none");
        wizard[0].classList.add("first");
        wizard[1].classList.toggle("second");
        
    });
    cancelbtn[2].addEventListener("click", function() {
        document.querySelector("#two").classList.toggle("d-none");
        document.querySelector("#third").classList.add("d-none");
        wizard[1].classList.add("second");
        wizard[2].classList.toggle("third");
        
    });
    cancelbtn[3].addEventListener("click", function() {
        document.querySelector("#third").classList.toggle("d-none");
        document.querySelector("#four").classList.add("d-none");
        wizard[2].classList.add("third");
        wizard[3].classList.toggle("fourth");
    });
</script>

</html>