<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="config">

    <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/util.css">
    <script src="/js/header.js"></script>


    <!-- Content Page의 CSS fragment 삽입 -->
    <th:block layout:fragment="css"></th:block>


</th:block>

</html>