<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="">
	<span>Id</span>
    <input name="userId" type="text">
    <span>nickName</span>
    <input name="nickName" type="text">
    <span>name</span>
    <input name="name" type="text">
    <span>pwd</span>
    <input name="pwd" type="text">
    <span>phoneNumber</span>
    <input name="phoneNumber" type="text">
    <span>email</span>
    <input name="eMail" type="text">
    <input type="submit">

</form>
</body>
</html>