/* =================== 상품 이미지와 디테일 =================== */

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  /* border: 5px solid rgba(0, 0, 0, 0.105); */
  /* padding: 5px; */
  transition: .3s;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.366);
}

.product-container:hover {
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.639);
}

.product-container div:first-child {
  position: relative;
  width: 100%;
}

.product-container img:first-child {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* .product-container img:first-child:hover {
  transform: scale(1.1);
  transition: .5s;
} */

.product-container .price-wish {
  font-weight: bold;
  font-size: var(--font-3);
}

.product-container .price-wish {
  display: flex;
  justify-content: space-between;
}

.product-container .price-wish {
  padding: 0 3px;
}

.product-container .price-wish img {
  width: 18px;
  height: 18px;
}

.product-container .name {
  font-size: var(--font-2);
  padding: 0 3px 20px 3px;
}

.product-container .time {
  font-size: var(--font-1);
  text-align: right;
  padding: 0 6px;
}

/* ============================== 상품 상세페이지 하단 고정 바============================== */

.bottom-bar-wrap {
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-light);
  box-shadow: 1px 0px 5px var(--color-dark);
}

.bottom-bar {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.bottom-bar>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-bar>div img {
  width: 20px;
  height: 20px;
}