/* ===================헤더=================== */


header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-light);
}

.header-wrap {
    height: 50px;
    display: flex;
    box-shadow: 0 1px 5px var(--color-dark);
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.header-wrap div:first-child {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.menu-bar {
    padding-left: 5px;
    padding-top: 5px;
}

.logo {
    margin-left: 10px;
    width: 130px;
    height: 25px;
    /* margin-right: auto; */
    object-fit: scale-down;
}

.half-middle-category a {
    display: none;
}

.header-icon {
    display: flex;
    align-items: center;
}

.header-icon img {
    padding-right: 10px;
}

@media(min-width: 720px) {

    .header-wrap {
        height: 50px;
        display: flex;
        box-shadow: 0 1px 5px var(--color-dark);
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .half-middle-category a:nth-child(4),
    .half-middle-category a:nth-child(5) {
        display: none;
    }
    
    .half-middle-category {
        margin-right: 80px;
    }

    .half-middle-category a{
        display: inline-block;
        font-weight: bold;
        font-size: var(--font-3);
        padding: 0 10px;
        color: var(--color-secondary-button);
        transition: color 1s;
    }

    .half-middle-category a:hover {
        color: var(--color-strong);
    }
}

@media(min-width: 1100px) {

    .half-middle-category a:nth-child(4),
    .half-middle-category a:nth-child(5) {
        display: inline-block;
    }

    .half-middle-category {
        display: inline-block;
        font-weight: bold;
        font-size: var(--font-4);
        
    }
}

/* ===================메뉴 바=================== */

.menu-bar-category {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* max-width: 0; */
    /* transition: 0.5s ease; */
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.92);
    padding: 60px 40px;
}

.burger-icon {
    cursor: pointer;
    display: inline-block;
    /* position: absolute; */
    z-index: 2;
    padding: 8px 0;
    top: 4px;
    left: 4px;
    user-select: none;
    width: auto;
    margin: 0;
}

.burger-icon .burger-sticks {
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
    z-index: 2;
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.burger-icon .burger-sticks:before {
    top: 5px;
}

.burger-icon .burger-sticks:after {
    top: -5px;
}

.burger-check {
    display: none;
}

.menu-bar-category {
    visibility: hidden;
}

.burger-check:checked~.menu-bar-category {
    max-width: 100%;
    visibility: visible;
}

.burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
}

/* ===================메뉴 바 카테고리=================== */

.category-login {
    margin-bottom: 70px;
    /* display: inline-block; */
}

.category-login a::after {
    content: '123';
    position: absolute;
    right: 20%;
    -webkit-mask-image: url(../image/icon/꺽쇠.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 25px 25px;
    background-color: var(--color-dark);
}

.category-login a {
    font-weight: bold;
    font-size: var(--font-5);
    padding-right: 40%;
}

.my-list li {
    margin: 20px 0;
    font-size: var(--font-4);
    position: relative;
}

.my-list li:nth-child(1)::after {
    position: absolute;
    right: 50%;
    content: '123';
    -webkit-mask-image: url(../image/icon/store.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}

.my-list li:nth-child(2)::after {
    content: '123';
    position: absolute;
    right: 50%;
    -webkit-mask-image: url(../image/icon/dollor.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}

.my-list li:nth-child(3)::after {
    content: '123';
    position: absolute;
    right: 50%;
    -webkit-mask-image: url(../image/icon/human.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}

.my-list li:nth-child(4)::after {
    content: '123';
    position: absolute;
    right: 50%;
    -webkit-mask-image: url(../image/icon/bell.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}

.my-list li:nth-child(5)::after {
    content: '123';
    position: absolute;
    right: 50%;
    -webkit-mask-image: url(../image/icon/setting.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}

.middle-line {
    font-size: var(--font-1);
    border-bottom: 1px solid rgb(77, 77, 77);
    margin: 50px 0;
}

.category-goods {
    padding: 15px 0;
}

.category-goods label {
    font-weight: bold;
    font-size: var(--font-4);
}

.category-goods label::after {
    content: '123';
    position: absolute;
    right: 50%;
    -webkit-mask-image: url(../image/icon/꺽쇠.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}

.menu-extra ul {
    /* margin-top: 60px; */
}

.menu-extra li {
    margin: 20px 0;
    font-size: clac(var(--font-2)+2);
    position: relative;
}

.menu-extra li:first-child {
    margin-top: 80px;
}

.menu-extra li:nth-child(1):after {
    position: absolute;
    right: 60%;
    content: '123';
    -webkit-mask-image: url(../image/icon/headset.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}

.menu-extra li:nth-child(2):after {
    position: absolute;
    right: 60%;
    content: '123';
    -webkit-mask-image: url(../image/icon/notice.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    background-color: var(--color-dark);
}






/* ===================푸터=================== */

footer {
    margin-top: 10em;
    background-color: var(--color-dark);
    height: 20em;
}