<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout}">


<!--  공통 css 제외한 나머지 css&js  -->
<th:block layout:fragment="css">

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/detail.css">

	<script src="/js/wish.js"></script>
</th:block>



<!--  공통 css 제외한 나머지 css&js    -->


<!--   메인 태그에     layout:fragment="content"    달아주세요~~~ -->


<main layout:fragment="content">
    <img th:src="${productImgs[0].name}" class="product-img" src="/image/product-img.jpg" alt="">

    <section class="profile-container">
        <img class="profile-img" th:src="${member.profileImg}" alt="">
        <h1 th:text="${member.nickName}">미지123</h1>
        <span class="product-count">판매상품 <span th:text="${#lists.size(memberProducts)}"></span></span>

        <span class="review-info">★★★★★(2)</span>
    </section>
    <hr>
    <section class="detail-container">
        <div class="detail-container-title">
            <h1 th:text="${product.name}">뉴진스 비공굿 판매(포카, 떡메)</h1>
            <span class="detail-category">비공식 굿즈 > 문구류</span>
            <span th:text="${product.regDate}">1분전</span>
        </div>
        <div class="detail-icon">
            <div class="">
                <img src="/image/icon/icon-eye-fill.svg" alt="">
                <span th:text="${product.hit}">6</span>
            </div>
            <div>
                <img src="/image/icon/icon-alert.svg" alt="">
            </div>
            <div>
                <img src="/image/icon/icon-share.svg" alt="">
            </div>
        </div>
        <p th:text="${product.description}">다니엘해린눌린자국있으나나머지멤찍힘스크래치없슴니다빛번짐인증가넝</p>

    </section>
    <hr>
    <section>
        <ul class="detail-button">
            <li><a class="btn btn-tag " href="">Newjeans</a></li>
            <li><a class="btn btn-tag " href="">포카</a></li>
            <li><a class="btn btn-tag " href="">Aespa</a></li>
        </ul>
    </section>
    <hr>
    <section class="detail-spec-container">
        <ul>
            <li>상품상태 거의 새상품</li>
            <li>배송방법</li>
        </ul>
    </section>
    <hr>
    <section>
        <h1 class="detail-user-others">이 판매자의 다른 물건</h1>
        <section class="product-wrap">

            <div th:each="memberProducts : ${memberProducts}" class="product-container">
                <a th:href="@{|/product/${memberProducts.productId}|}">
                    <div><img th:src="${memberProducts.thumbNailImg}" alt="product-img"></div>

                    <div class="price-wish">
                        <span th:text="${memberProducts.price}" > 80,000원</span>

                        <img class ="wish" src="/image/icon/heart.svg" alt="찜" th:data-id = "${memberProducts.productId}">
                    </div>

                    <div th:text="${memberProducts.name}" class="name">
                        러브다이브 미공포
                    </div>

                    <div th:text="${memberProducts.regDate}" class="time">
                        0일 전
                    </div>
                </a>
            </div>
        </section>
    </section>

    <section class="bottom-bar-wrap">
        <div class="bottom-bar">
            <div>
                <img class ="wish bottom" src="/image/icon/heart.svg" alt="찜" th:data-id = "${product.id}">
                <label class="nums">2</label>
            </div>
            <div>
                <span th:text="${product.price}">5000원</span>
            </div>
            <div>
                <a class="btn btn-default " href="">덕템톡</a>
            </div>
        </div>
    </section>





</main>




</html>