<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">


<!--  공통 css 제외한 나머지 css&js  -->
<th:block layout:fragment="css">

	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/index.css">


	<script src="/js/rolling-banner.js"></script>
	<script src="/js/wish.js"></script>

</th:block>


<main layout:fragment="content">

	<h1>서버 에러입니다.</h1>
	<p>서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.서버 에러입니다.</p>

</main>


</html>