<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">



<th:block layout:fragment="css">

	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/list.css">
	
	<script src="/js/list.js"></script>

</th:block>


<!-- ==============================   메인   ============================== -->
<main layout:fragment="content">


	<section>
		<!-- class=""category"" -->
		<h1 class="d-none">카테고리</h1>
		<section class="supercategory">
			<h1 class="d-none">대분류</h1>
			<span th:each="superCategory:${superCategoryList}"
				th:attr="data-id=${superCategory.id}"><a
				th:text="${superCategory.name}" href="/list">공식굿즈 </a></span>
		</section>

		<section class="subcategory">
			<h1 class="d-none">소분류</h1>
			
			<input type="checkbox" name="" id="selectAll-btn">
			<label class="btn btn-default aaa" for="selectAll-btn">전체보기</label> 
			
			<span th:each="category, i :${categoryList}"> 
			<input type="checkbox" name="" th:id="${category.categoryId}+'-btn'"  id="2-btn">
			<label th:attr="data-id=${category.categoryId}" th:text="${category.categoryName}" class="btn btn-default aaa" th:for="${category.categoryId}+'-btn'" for="2-btn">음반/영상물</label>
			</span>
			
		</section>

	</section>



	<div class="option">

		<select>
			<option value="">최신순</option>
			<option value="">높은 가격순</option>
			<option value="">낮은 가격순</option>
			<option value="">인기상품순</option>
		</select>
	</div>





	<section class="product-list">
		<h1 class="d-none">상품목록</h1>

		<div class="product-wrap">

			<div th:each="preview : ${preview}" class="product-container">
				<a th:href="@{|/product/${preview.productId}|}">
					<div>
						<img th:src="${preview.thumbNailImg}" alt="product-img">
					</div>

					<div class="price-wish">
						<span th:text="${preview.price}"></span> <img class="wish"
							src="/image/icon/heart.svg" alt="찜"
							th:value="${preview.productId}">
					</div>

					<div th:text="${preview.name}" class="name">러브다이브미공포</div>

					<div th:text="${preview.regDate}" class="time">0일 전</div>
				</a>
			</div>
		</div>



	</section>


</main>


</html>