<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<img src="productimgs/31e35cfd-3a7b-4d87-abe3-e8bb3d3304dc_20201121_233611.jpg" alt="">
<body>
<div th:each="list : ${list}">

  <div th:text="${list.title}"></div>
  <img th:src="@{${list.img}}" alt="">
  <div th:text="${list.content}"></div>
  <div th:text="${list.price}"></div>
  <div th:text="${list.category}"></div>
  <div th:text="${list.condition}"></div>
  <div th:text="${list.deliveryType}"></div>
  <div th:text="${list.regDate}"></div>
</div>
</body>
</html>