<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducktem.web.dao.CategoryDao">




	<select id="findAll"
		resultType="com.ducktem.web.entity.Category">
		select * from Category
	</select>


	<select id="findSubCategoryAll"
		resultType="com.ducktem.web.entity.SubCategory">
		select SubCategory.id categoryId, Category.id superCategoryId, Category.name superCategoryName, SubCategory.name subCategoryName  from SubCategory join Category on SubCategory.CategoryId = Category.id

	</select>


</mapper>