<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducktem.web.dao.ImgDao">
    <insert id="save" parameterType="com.ducktem.web.entity.ProductImg">

        INSERT INTO `Product_image` (`name`,`productId`) VALUES (#{name}, #{productId});

    </insert>
    
    <select id="findId" resultType="Long">
        select last_insert_id() `Product`;
    </select>

</mapper>