<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducktem.web.dao.MemberDao">
    <insert id="save" parameterType="com.ducktem.web.entity.Member">
	
	INSERT INTO `Member` 
	(`name`, `userId`, `pwd`, `nickName`, `email`, `phoneNumber`)
	VALUES (#{name},#{userId}, #{pwd}, #{nickName}, #{email}, #{phoneNumber});

    </insert>
    
    <select id="findAll" resultType="com.ducktem.web.entity.Member">
		select * from `Member`;
    </select>
    
    <select id="findById" parameterType="com.ducktem.web.entity.Member" resultType="com.ducktem.web.entity.Member">
		select * from `Member` where `userId` = #{userId};
    </select>

    <select id="findByName" parameterType="String" resultType="com.ducktem.web.entity.Member">
        select * from Member where nickName = #{memberNickName};
    </select>

    <update id="updateStatus">
        update Member
        set status = 1
        where userId = #{userId};

    </update>

    <update id="updateAutoLogin">
        update Member
        set autoLogin = #{sessionId}
        where userId = #{userId};
    </update>

	<!-- 함수 이상함. 수정할 것.  -->
    <select id="findLoginInfo" resultType="String">
        select autoLogin
        from Member 
        where autoLogin = #{loginInfo};
    </select>

</mapper>