<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducktem.web.dao.TagDao">




	<insert id="save"
		parameterType="ProductTag">
		INSERT INTO Tag (`name`,`productId`,`ban`) VALUES (#{name},#{productId},#{ban});
	</insert>

 	<select id="findByProductId" resultType="ProductTag" parameterType="Long">
        select * from Tag where productId = #{productId}
    </select>
	


</mapper>